"openapi": "3.1.0"
"info":
  "title": "Yomu Academy API"
  "version": "1.8.88"
  "description": "Accounts, secure browser sessions, Reader device pairing, encrypted SRS sync, class progress, learning feedback, and protected Academy media. Browser mutations marked `x-yomu-same-origin` also require an Origin header matching https://yomureader.com."
  "contact":
    "name": "Yomu"
    "url": "https://yomureader.com/"
  "license":
    "name": "MIT"
    "identifier": "MIT"
"servers":
  -
    "url": "https://yomureader.com"
"tags":
  -
    "name": "System"
    "description": "Health and deploy metadata."
  -
    "name": "Sessions"
    "description": "Invitation-backed browser sessions."
  -
    "name": "Authentication"
    "description": "Google OIDC entry and callback."
  -
    "name": "Account"
    "description": "Account preferences, export, and deletion."
  -
    "name": "Entitlements"
    "description": "Academy access state."
  -
    "name": "Profiles"
    "description": "Client-encrypted profile lifecycle."
  -
    "name": "Pairing"
    "description": "One-use cross-device key transfer."
  -
    "name": "Devices"
    "description": "Durable Reader device credentials."
  -
    "name": "SRS sync"
    "description": "Opaque encrypted event synchronization."
  -
    "name": "Progress"
    "description": "Aggregate learner progress."
  -
    "name": "Learning"
    "description": "Speaking and writing answer checking."
  -
    "name": "Classes"
    "description": "Class boards and rankings."
  -
    "name": "Media"
    "description": "Protected learning media."
  -
    "name": "Administration"
    "description": "Server-managed administrative operations."
"paths":
  "/academy/api/health":
    "get":
      "operationId": "getAcademyHealth"
      "tags":
        - "System"
      "summary": "Check Academy API health"
      "description": "Returns deploy metadata for the production Academy Worker."
      "security": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Health"
  "/academy/api/session":
    "post":
      "operationId": "createAcademySession"
      "tags":
        - "Sessions"
      "summary": "Exchange an invitation code"
      "description": "Creates an eight-hour browser session and a fixed 30-day offline-resume window."
      "security": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Session"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/InviteCodeRequest"
      "x-yomu-same-origin": true
    "get":
      "operationId": "getAcademySession"
      "tags":
        - "Sessions"
      "summary": "Read the active session"
      "description": "Returns the session bound to the secure host cookie."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Session"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
  "/academy/api/session/status":
    "get":
      "operationId": "getAcademySessionStatus"
      "tags":
        - "Sessions"
      "summary": "Check browser session state"
      "description": "Returns a state-only, non-mutating account-shell projection. Missing, malformed, revoked, unknown, and elapsed cookies all return signed-out with status 200."
      "security": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/SessionStatus"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
  "/academy/api/session/resume":
    "post":
      "operationId": "resumeAcademySession"
      "tags":
        - "Sessions"
      "summary": "Rotate and resume a session"
      "description": "Rotates a resumable browser cookie without consuming another invitation."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Session"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "x-yomu-same-origin": true
  "/academy/api/logout":
    "post":
      "operationId": "logoutAcademySession"
      "tags":
        - "Sessions"
      "summary": "Log out"
      "description": "Revokes the session family and clears the browser cookie."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Ok"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "x-yomu-same-origin": true
  "/academy/api/auth/google/recovery":
    "post":
      "operationId": "createGoogleRecoverySession"
      "tags":
        - "Authentication"
      "summary": "Start account recovery"
      "description": "Creates an auth-only session for recovering an existing Google-linked account."
      "security": []
      "responses":
        "201":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Session"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/EmptyObject"
      "x-yomu-same-origin": true
  "/academy/api/auth/google/reader":
    "post":
      "operationId": "ensureReaderAccountSession"
      "tags":
        - "Authentication"
      "summary": "Prepare Reader account sign-in"
      "description": "Keeps an active or resumable paid, invite, Reader, or linked recovery session. Converts an unlinked recovery session to Reader, and creates a free Reader session only when the request carries no usable session family."
      "security": []
      "responses":
        "200":
          "description": "The existing session was kept or resumed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/ReaderAuthSession"
        "201":
          "description": "A free Reader auth session was created."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/ReaderAuthSession"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "A concurrent rotation consumed the presented token."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The request was not same-origin."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The presented session family changed in another request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not prepare sign-in."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/EmptyObject"
      "x-yomu-same-origin": true
  "/academy/api/auth/google/start":
    "get":
      "operationId": "startGoogleOidc"
      "tags":
        - "Authentication"
      "summary": "Begin Google OIDC"
      "description": "Redirects the active session to Google. Browser navigation only."
      "security":
        -
          "sessionCookie": []
      "responses":
        "302":
          "description": "Redirect to Google."
          "headers":
            "Location":
              "schema":
                "type": "string"
                "format": "uri"
        "401":
          "description": "No active session."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "parameters":
        -
          "name": "returnTo"
          "in": "query"
          "required": false
          "description": "Safe same-origin route after sign-in."
          "schema":
            "type": "string"
  "/academy/api/auth/google/callback":
    "get":
      "operationId": "completeGoogleOidc"
      "tags":
        - "Authentication"
      "summary": "Complete Google OIDC"
      "description": "Google callback endpoint. This is not called directly by application code."
      "security": []
      "responses":
        "302":
          "description": "Redirect back to Academy after success or a normalized failure."
          "headers":
            "Location":
              "schema":
                "type": "string"
                "format": "uri"
      "parameters":
        -
          "name": "code"
          "in": "query"
          "required": false
          "description": "Google authorization code."
          "schema":
            "type": "string"
        -
          "name": "state"
          "in": "query"
          "required": false
          "description": "OIDC state token."
          "schema":
            "type": "string"
  "/academy/api/account":
    "get":
      "operationId": "getAcademyAccount"
      "tags":
        - "Account"
      "summary": "Read the signed-in account"
      "description": "Returns public account preferences, class memberships, and Academy-access state."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Account"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
    "patch":
      "operationId": "patchAcademyAccount"
      "tags":
        - "Account"
      "summary": "Update account preferences"
      "description": "Updates the learner name, approved avatar, and class-board sharing preferences."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Account"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/AccountPatch"
      "x-yomu-same-origin": true
    "delete":
      "operationId": "deleteAcademyAccount"
      "tags":
        - "Account"
      "summary": "Delete the account"
      "description": "Permanently deletes the signed-in account and returns a deletion receipt."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/DeletedResource"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/DeleteAccountRequest"
      "x-yomu-same-origin": true
  "/academy/api/account/devices":
    "get":
      "operationId": "listReaderDevices"
      "tags":
        - "Devices"
      "summary": "List Reader devices"
      "description": "Lists non-revoked devices attached to the signed-in account profile."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/DeviceList"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
  "/academy/api/account/devices/{deviceId}":
    "delete":
      "operationId": "revokeReaderDeviceFromAccount"
      "tags":
        - "Devices"
      "summary": "Revoke a Reader device"
      "description": "Revokes one device from the signed-in account."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/RevokedDevice"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "parameters":
        -
          "name": "deviceId"
          "in": "path"
          "required": true
          "description": "Public Reader device UUID."
          "schema":
            "type": "string"
            "format": "uuid"
      "x-yomu-same-origin": true
  "/academy/api/account/export":
    "post":
      "operationId": "exportAccountData"
      "tags":
        - "Account"
      "summary": "Export account data"
      "description": "Starts or continues a frozen, bounded export of account-owned data."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/ExportPage"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/ExportRequest"
      "x-yomu-same-origin": true
  "/academy/api/account/lifecycle-proof/verify":
    "post":
      "operationId": "verifyAccountLifecycleProof"
      "tags":
        - "Account"
      "summary": "Verify a production lifecycle proof grant"
      "description": "Verifies that the signed-in disposable account matches an unexpired supervised proof grant without consuming it."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/LifecycleProofVerification"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/LifecycleProofAuthorizationRequest"
      "x-yomu-same-origin": true
  "/academy/api/account/lifecycle-proof":
    "delete":
      "operationId": "deleteLifecycleProofAccount"
      "tags":
        - "Account"
      "summary": "Delete a supervised production proof account"
      "description": "Consumes the bound single-use proof grant and deletes the authenticated disposable account."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/DeletedResource"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/LifecycleProofDeletionRequest"
      "x-yomu-same-origin": true
  "/academy/api/entitlement":
    "get":
      "operationId": "getAcademyEntitlement"
      "tags":
        - "Entitlements"
      "summary": "Read Academy access"
      "description": "Returns the active paid/class entitlement or an explicit none state."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Entitlement"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
  "/academy/api/entitlement/redeem":
    "post":
      "operationId": "redeemAcademyEntitlement"
      "tags":
        - "Entitlements"
      "summary": "Redeem an access code"
      "description": "Binds a paid access code to the signed-in account."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Entitlement"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/EntitlementRedeemRequest"
      "x-yomu-same-origin": true
  "/academy/api/profile":
    "get":
      "operationId": "getAcademyProfile"
      "tags":
        - "Profiles"
      "summary": "Read the encrypted-sync profile"
      "description": "Returns opaque profile and device identifiers. Yomu never receives the client encryption key."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Profile"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
    "delete":
      "operationId": "deleteAcademyProfile"
      "tags":
        - "Profiles"
      "summary": "Delete the profile"
      "description": "Deletes an eligible profile and returns a deletion receipt."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/DeletedResource"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/DeleteProfileRequest"
      "x-yomu-same-origin": true
  "/academy/api/profile/key":
    "post":
      "operationId": "initializeProfileKey"
      "tags":
        - "Profiles"
      "summary": "Pin the profile key commitment"
      "description": "Atomically records the SHA-256 commitment of the client-held encryption key."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/KeyInitialized"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/KeyCommitmentRequest"
      "x-yomu-same-origin": true
  "/academy/api/profile/export":
    "post":
      "operationId": "exportProfileData"
      "tags":
        - "Profiles"
      "summary": "Export profile data"
      "description": "Starts or continues a frozen, bounded export of encrypted profile data."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/ExportPage"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/ExportRequest"
      "x-yomu-same-origin": true
  "/academy/api/pairings":
    "post":
      "operationId": "createBrowserPairing"
      "tags":
        - "Pairing"
      "summary": "Create a browser pairing code"
      "description": "Creates a one-use, ten-minute pairing ticket."
      "security":
        -
          "sessionCookie": []
      "responses":
        "201":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/PairingTicket"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "x-yomu-same-origin": true
  "/academy/api/pairings/{pairingId}":
    "put":
      "operationId": "completeBrowserPairing"
      "tags":
        - "Pairing"
      "summary": "Attach an encrypted key envelope"
      "description": "Makes a pairing ticket claimable by attaching the client-encrypted profile key."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/PairingReady"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "parameters":
        -
          "name": "pairingId"
          "in": "path"
          "required": true
          "description": "Pairing ticket UUID."
          "schema":
            "type": "string"
            "format": "uuid"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/KeyEnvelope"
      "x-yomu-same-origin": true
  "/academy/api/pairings/claim":
    "post":
      "operationId": "claimBrowserPairing"
      "tags":
        - "Pairing"
      "summary": "Claim a pairing in the browser"
      "description": "Moves a fresh browser device onto the paired profile and returns the encrypted key envelope."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/PairingClaim"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/PairingClaimRequest"
      "x-yomu-same-origin": true
  "/academy/api/device/pairings":
    "post":
      "operationId": "createDevicePairing"
      "tags":
        - "Pairing"
      "summary": "Create a pairing from a Reader device"
      "description": "Creates a pairing code using a durable Reader device credential."
      "security":
        -
          "deviceBearer": []
      "responses":
        "201":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/PairingTicket"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
  "/academy/api/device/pairings/{pairingId}":
    "put":
      "operationId": "completeDevicePairing"
      "tags":
        - "Pairing"
      "summary": "Complete a device pairing"
      "description": "Attaches an encrypted profile-key envelope using a Reader device credential."
      "security":
        -
          "deviceBearer": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/PairingReady"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "parameters":
        -
          "name": "pairingId"
          "in": "path"
          "required": true
          "description": "Pairing ticket UUID."
          "schema":
            "type": "string"
            "format": "uuid"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/KeyEnvelope"
  "/academy/api/device/pairings/claim":
    "post":
      "operationId": "claimDevicePairing"
      "tags":
        - "Pairing"
      "summary": "Claim a Reader device pairing"
      "description": "Consumes a pairing code and returns a durable device credential once."
      "security": []
      "responses":
        "201":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/PairingClaim"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/DevicePairingClaimRequest"
  "/academy/api/device/status":
    "get":
      "operationId": "getReaderDeviceStatus"
      "tags":
        - "Devices"
      "summary": "Check a Reader device credential"
      "description": "Returns the profile/device identifiers attached to the bearer credential."
      "security":
        -
          "deviceBearer": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/DeviceStatus"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
  "/academy/api/device":
    "delete":
      "operationId": "revokeReaderDevice"
      "tags":
        - "Devices"
      "summary": "Revoke the current Reader device"
      "description": "Revokes the bearer credential and its device."
      "security":
        -
          "deviceBearer": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/RevokedDevice"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
  "/academy/api/srs/push":
    "post":
      "operationId": "pushAcademySrsEvents"
      "tags":
        - "SRS sync"
      "summary": "Push encrypted Academy SRS events"
      "description": "Appends up to 50 immutable, client-encrypted event envelopes. Byte-identical retries are idempotent."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/SyncPushResult"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/EncryptedEventPush"
      "x-yomu-same-origin": true
  "/academy/api/srs/pull":
    "get":
      "operationId": "pullAcademySrsEvents"
      "tags":
        - "SRS sync"
      "summary": "Pull encrypted Academy SRS events"
      "description": "Returns one cursor-ordered page of encrypted Academy events."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/SyncPage"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "parameters":
        -
          "name": "cursor"
          "in": "query"
          "required": false
          "description": "Return events after this cursor."
          "schema":
            "type": "integer"
            "minimum": 0
            "default": 0
        -
          "name": "limit"
          "in": "query"
          "required": false
          "description": "Maximum events to return."
          "schema":
            "type": "integer"
            "minimum": 1
            "maximum": 200
            "default": 200
  "/academy/api/device/srs/push":
    "post":
      "operationId": "pushReaderSrsEvents"
      "tags":
        - "SRS sync"
      "summary": "Push encrypted Reader SRS events"
      "description": "Appends up to 20 immutable Reader deck mutations."
      "security":
        -
          "deviceBearer": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/SyncPushResult"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/EncryptedReaderEventPush"
  "/academy/api/device/srs/pull":
    "get":
      "operationId": "pullReaderSrsEvents"
      "tags":
        - "SRS sync"
      "summary": "Pull encrypted Reader SRS events"
      "description": "Returns one cursor-ordered page of encrypted Reader deck mutations."
      "security":
        -
          "deviceBearer": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/SyncPage"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "parameters":
        -
          "name": "cursor"
          "in": "query"
          "required": false
          "description": "Return events after this cursor."
          "schema":
            "type": "integer"
            "minimum": 0
            "default": 0
        -
          "name": "limit"
          "in": "query"
          "required": false
          "description": "Maximum events to return."
          "schema":
            "type": "integer"
            "minimum": 1
            "maximum": 200
            "default": 200
  "/academy/api/progress/sync":
    "post":
      "operationId": "syncAcademyProgress"
      "tags":
        - "Progress"
      "summary": "Merge aggregate learner progress"
      "description": "Idempotently merges non-sensitive aggregate progress and UTC study dates for class features."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/ProgressSyncResult"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/ProgressSyncRequest"
      "x-yomu-same-origin": true
  "/academy/api/answer-check":
    "post":
      "operationId": "checkAcademyAnswer"
      "tags":
        - "Learning"
      "summary": "Check a speaking or writing answer"
      "description": "Evaluates one learner answer through the configured provider and returns normalized feedback."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/AnswerCheckResponse"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/AnswerCheckRequest"
      "x-yomu-same-origin": true
  "/academy/api/classes/{classId}/board":
    "get":
      "operationId": "getClassBoard"
      "tags":
        - "Classes"
      "summary": "Read a class board"
      "description": "Returns opted-in class members visible to the authenticated learner."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/ClassBoard"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "parameters":
        -
          "name": "classId"
          "in": "path"
          "required": true
          "description": "Class identifier."
          "schema":
            "type": "string"
  "/academy/api/classes/{classId}/leaderboard":
    "get":
      "operationId": "getClassLeaderboard"
      "tags":
        - "Classes"
      "summary": "Read a class leaderboard"
      "description": "Returns a paginated ranking for the selected aggregate metric."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/ClassLeaderboard"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "parameters":
        -
          "name": "classId"
          "in": "path"
          "required": true
          "description": "Class identifier."
          "schema":
            "type": "string"
        -
          "name": "metric"
          "in": "query"
          "required": false
          "description": "Ranking metric."
          "schema":
            "type": "string"
            "enum":
              - "streak"
              - "review-activity"
              - "known-words"
              - "lesson-progress"
            "default": "streak"
        -
          "name": "page"
          "in": "query"
          "required": false
          "description": "One-based page."
          "schema":
            "type": "integer"
            "minimum": 1
            "maximum": 1000
            "default": 1
        -
          "name": "limit"
          "in": "query"
          "required": false
          "description": "Entries per page."
          "schema":
            "type": "integer"
            "minimum": 1
            "maximum": 50
            "default": 20
  "/academy/api/classes/{classId}/summary":
    "get":
      "operationId": "getClassSummary"
      "tags":
        - "Classes"
      "summary": "Read a class summary"
      "description": "Returns aggregate class progress for learners and sensei views."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/ClassSummary"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "parameters":
        -
          "name": "classId"
          "in": "path"
          "required": true
          "description": "Class identifier."
          "schema":
            "type": "string"
  "/academy/api/classes/{classId}/members/{accountId}/moderation":
    "patch":
      "operationId": "moderateClassMember"
      "tags":
        - "Classes"
      "summary": "Moderate a class member"
      "description": "Updates a member’s board visibility or class role. Sensei/admin only."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Ok"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "parameters":
        -
          "name": "classId"
          "in": "path"
          "required": true
          "description": "Class identifier."
          "schema":
            "type": "string"
        -
          "name": "accountId"
          "in": "path"
          "required": true
          "description": "Public account UUID."
          "schema":
            "type": "string"
            "format": "uuid"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/ModerationRequest"
      "x-yomu-same-origin": true
  "/academy/media/{assetPath}":
    "get":
      "operationId": "getProtectedAcademyMedia"
      "tags":
        - "Media"
      "summary": "Read protected Academy media"
      "description": "Streams an allowlisted R2 object to an authenticated Academy learner."
      "security":
        -
          "sessionCookie": []
      "responses":
        "200":
          "description": "Protected media bytes."
          "content":
            "application/octet-stream":
              "schema":
                "type": "string"
                "format": "binary"
        "401":
          "description": "No active Academy session."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The session lacks Academy access."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "404":
          "description": "The asset is not allowlisted or does not exist."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "parameters":
        -
          "name": "assetPath"
          "in": "path"
          "required": true
          "description": "Allowlisted media key."
          "schema":
            "type": "string"
  "/academy/api/admin/invites":
    "post":
      "operationId": "createAcademyInvite"
      "tags":
        - "Administration"
      "summary": "Create an invitation"
      "description": "Creates or registers an Academy invitation. Server-side administration only."
      "security":
        -
          "adminBearer": []
      "responses":
        "201":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/AdminInvite"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/AdminInviteRequest"
  "/academy/api/admin/classes":
    "post":
      "operationId": "upsertAcademyClass"
      "tags":
        - "Administration"
      "summary": "Create or update a class"
      "description": "Upserts a class and attaches an invitation code."
      "security":
        -
          "adminBearer": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/AdminClass"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/AdminClassRequest"
  "/academy/api/admin/roles":
    "post":
      "operationId": "setAcademyClassRole"
      "tags":
        - "Administration"
      "summary": "Set a class role"
      "description": "Assigns learner or sensei to an existing class member."
      "security":
        -
          "adminBearer": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Ok"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/AdminRoleRequest"
  "/academy/api/admin/lifecycle-proof-grants":
    "post":
      "operationId": "createAccountLifecycleProofGrant"
      "tags":
        - "Administration"
      "summary": "Create a production lifecycle proof grant"
      "description": "Creates an expiring single-use grant bound to one disposable production account and run nonce."
      "security":
        -
          "adminBearer": []
      "responses":
        "201":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/LifecycleProofGrant"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/LifecycleProofGrantRequest"
  "/academy/api/admin/payment-code":
    "post":
      "operationId": "getAcademyPaymentCode"
      "tags":
        - "Administration"
      "summary": "Retrieve an unredeemed payment access code"
      "description": "Looks up an active provider entitlement by a server-held subject or transaction reference. Patreon supports subject references only."
      "security":
        -
          "adminBearer": []
      "responses":
        "200":
          "description": "Successful response."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/AdminPaymentCode"
        "400":
          "description": "The request was malformed."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "401":
          "description": "Authentication is required or invalid."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "403":
          "description": "The authenticated caller is not permitted to perform this operation."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "409":
          "description": "The request conflicts with current server state."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "429":
          "description": "The caller exceeded a rate limit."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
        "500":
          "description": "The service could not complete the request."
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/Error"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/AdminPaymentCodeRequest"
"components":
  "schemas":
    "Error":
      "type": "object"
      "required":
        - "error"
      "properties":
        "error":
          "type": "string"
      "additionalProperties": false
    "Ok":
      "type": "object"
      "required":
        - "ok"
      "properties":
        "ok":
          "type": "boolean"
          "const": true
      "additionalProperties": false
    "EmptyObject":
      "type": "object"
      "maxProperties": 0
      "additionalProperties": false
    "Health":
      "type": "object"
      "required":
        - "ok"
      "properties":
        "ok":
          "type": "boolean"
          "const": true
      "additionalProperties": false
    "InviteCodeRequest":
      "type": "object"
      "required":
        - "code"
      "properties":
        "code":
          "type": "string"
          "description": "Academy invitation code."
      "additionalProperties": false
    "Session":
      "type": "object"
      "required":
        - "sessionId"
        - "expiresAt"
        - "offlineResumeUntil"
        - "accountRequired"
      "properties":
        "sessionId":
          "type": "string"
          "format": "uuid"
        "expiresAt":
          "type": "integer"
          "format": "int64"
          "description": "Unix time in milliseconds."
        "offlineResumeUntil":
          "type": "integer"
          "format": "int64"
          "description": "Unix time in milliseconds."
        "accountRequired":
          "type": "boolean"
          "const": true
      "additionalProperties": false
    "SessionStatus":
      "type": "object"
      "required":
        - "state"
      "properties":
        "state":
          "type": "string"
          "enum":
            - "signed-out"
            - "active-unlinked"
            - "resumable"
            - "linked"
      "additionalProperties": false
    "ReaderAuthSession":
      "type": "object"
      "required":
        - "sessionId"
        - "expiresAt"
        - "offlineResumeUntil"
        - "accountRequired"
        - "state"
      "properties":
        "sessionId":
          "type": "string"
          "format": "uuid"
        "expiresAt":
          "type": "integer"
          "format": "int64"
          "description": "Unix time in milliseconds."
        "offlineResumeUntil":
          "type": "integer"
          "format": "int64"
          "description": "Unix time in milliseconds."
        "accountRequired":
          "type": "boolean"
          "const": true
        "state":
          "type": "string"
          "enum":
            - "active-unlinked"
            - "linked"
      "additionalProperties": false
    "AccountPatch":
      "type": "object"
      "minProperties": 1
      "properties":
        "displayName":
          "type": "string"
          "minLength": 1
          "maxLength": 32
        "avatarKey":
          "type":
            - "string"
            - "null"
          "enum":
            - "quality-2"
            - "quality-3"
            - "quality-4"
            - "quality-5"
            - null
        "boardVisible":
          "type": "boolean"
        "shareAvatar":
          "type": "boolean"
      "additionalProperties": false
    "ClassMembership":
      "type": "object"
      "required":
        - "classId"
        - "name"
        - "role"
        - "boardHidden"
      "properties":
        "classId":
          "type": "string"
        "name":
          "type": "string"
        "role":
          "type": "string"
          "enum":
            - "learner"
            - "sensei"
        "boardHidden":
          "type": "boolean"
      "additionalProperties": false
    "Account":
      "type": "object"
      "required":
        - "accountId"
        - "displayName"
        - "displayTag"
        - "nameChosen"
        - "avatarKey"
        - "boardVisible"
        - "shareAvatar"
        - "academyAccess"
        - "classes"
      "properties":
        "accountId":
          "type": "string"
          "format": "uuid"
        "displayName":
          "type": "string"
        "displayTag":
          "type": "string"
        "nameChosen":
          "type": "boolean"
        "avatarKey":
          "type":
            - "string"
            - "null"
        "boardVisible":
          "type": "boolean"
[...]
