{
  "openapi": "3.1.0",
  "info": {
    "title": "Yomu Support API",
    "version": "1.8.87",
    "description": "Public funding status, contribution checkout, verified donation claims, and provider webhook ingress.",
    "contact": {
      "name": "Yomu",
      "url": "https://yomureader.com/"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://support.yomureader.com"
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Service readiness."
    },
    {
      "name": "Funding",
      "description": "Public cost and contribution totals."
    },
    {
      "name": "Checkout",
      "description": "Contribution checkout and access claims."
    },
    {
      "name": "Provider webhooks",
      "description": "Authenticated payment-provider ingress."
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "operationId": "getSupportStatus",
        "tags": [
          "System"
        ],
        "summary": "Check supporter service status",
        "description": "Reports checkout, provider, persistence, and Academy-bridge readiness without exposing secrets.",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportStatus"
                }
              }
            }
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "operationId": "getSupportHealth",
        "tags": [
          "System"
        ],
        "summary": "Check supporter service health",
        "description": "Alias of `/status` for infrastructure health checks.",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportStatus"
                }
              }
            }
          }
        }
      }
    },
    "/goal": {
      "get": {
        "operationId": "getSupportGoal",
        "tags": [
          "Funding"
        ],
        "summary": "Read the monthly funding goal",
        "description": "Returns the public GBP operating-cost forecast and effective monthly goal.",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportGoal"
                }
              }
            }
          }
        }
      }
    },
    "/progress": {
      "get": {
        "operationId": "getSupportProgress",
        "tags": [
          "Funding"
        ],
        "summary": "Read verified contribution progress",
        "description": "Returns the public aggregate contribution progress used by Yomu’s support bar.",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportProgress"
                }
              }
            }
          }
        }
      }
    },
    "/donate": {
      "get": {
        "operationId": "createDonationCheckout",
        "tags": [
          "Checkout"
        ],
        "summary": "Open the contribution checkout",
        "description": "Creates a Stripe Checkout Session and redirects the browser.",
        "security": [],
        "responses": {
          "302": {
            "description": "Redirect to Stripe Checkout.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "503": {
            "description": "Checkout is not configured.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Optional contribution amount.",
            "schema": {
              "type": "number",
              "minimum": 1
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Checkout currency.",
            "schema": {
              "type": "string",
              "enum": [
                "GBP",
                "USD",
                "EUR",
                "CAD",
                "AUD",
                "JPY"
              ]
            }
          }
        ]
      }
    },
    "/checkout": {
      "get": {
        "operationId": "createDonationCheckoutAlias",
        "tags": [
          "Checkout"
        ],
        "summary": "Open the contribution checkout (alias)",
        "description": "Backward-compatible alias of `/donate`.",
        "security": [],
        "responses": {
          "302": {
            "description": "Redirect to Stripe Checkout.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Optional contribution amount.",
            "schema": {
              "type": "number",
              "minimum": 1
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Checkout currency.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": true
      }
    },
    "/claim": {
      "get": {
        "operationId": "claimVerifiedDonation",
        "tags": [
          "Checkout"
        ],
        "summary": "Claim a verified contribution",
        "description": "Completes the Stripe return flow using the checkout session id and the secure claim cookie issued before redirecting to Stripe.",
        "security": [],
        "responses": {
          "200": {
            "description": "The permanent Academy access code.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "The payment is still being confirmed. Retry after the indicated delay.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "const": 2
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The return link or claim cookie is incomplete.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "The claim was not accepted.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "The contribution could not be verified or is no longer claimable.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "session_id",
            "in": "query",
            "required": true,
            "description": "Stripe Checkout Session id.",
            "schema": {
              "type": "string",
              "pattern": "^cs_[A-Za-z0-9_-]{3,255}$"
            }
          }
        ]
      }
    },
    "/stripe/webhook": {
      "post": {
        "operationId": "receiveStripeWebhook",
        "tags": [
          "Provider webhooks"
        ],
        "summary": "Receive Stripe events",
        "description": "Signature-verified Stripe webhook ingress.",
        "security": [],
        "responses": {
          "200": {
            "description": "The verified event was accepted; recorded is false for ignored or non-contribution events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportWebhookReceipt"
                }
              }
            }
          },
          "400": {
            "description": "The payload is malformed.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "The provider signature is invalid.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "The verified contribution is missing the identity required for delivery.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "The event could not be persisted.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "The provider webhook or donation ledger is not configured.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "Provider-defined webhook payload. The service validates the provider signature before accepting it.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/webhook": {
      "post": {
        "operationId": "receiveStripeWebhookAlias",
        "tags": [
          "Provider webhooks"
        ],
        "summary": "Receive Stripe events (legacy alias)",
        "description": "Legacy alias of `/stripe/webhook`.",
        "security": [],
        "responses": {
          "200": {
            "description": "The verified event was accepted; recorded is false for ignored or non-contribution events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportWebhookReceipt"
                }
              }
            }
          },
          "400": {
            "description": "The payload is malformed.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "The provider signature is invalid.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "The verified contribution is missing the identity required for delivery.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "The event could not be persisted.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "The provider webhook or donation ledger is not configured.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "Provider-defined webhook payload. The service validates the provider signature before accepting it.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/webhooks/kofi": {
      "post": {
        "operationId": "receiveKofiWebhook",
        "tags": [
          "Provider webhooks"
        ],
        "summary": "Receive Ko-fi events",
        "description": "Token-verified Ko-fi webhook ingress.",
        "security": [],
        "responses": {
          "200": {
            "description": "The verified event was accepted; recorded is false for ignored or non-contribution events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportWebhookReceipt"
                }
              }
            }
          },
          "400": {
            "description": "The payload is malformed.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "The provider signature is invalid.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "The verified contribution is missing the identity required for delivery.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "The event could not be persisted.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "The provider webhook or donation ledger is not configured.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "Provider-defined webhook payload. The service validates the provider signature before accepting it.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/webhooks/bmac": {
      "post": {
        "operationId": "receiveBmacWebhook",
        "tags": [
          "Provider webhooks"
        ],
        "summary": "Receive Buy Me a Coffee events",
        "description": "HMAC-SHA256-verified Buy Me a Coffee donation webhook ingress.",
        "security": [],
        "responses": {
          "200": {
            "description": "The verified event was accepted; recorded is false for ignored or non-contribution events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportWebhookReceipt"
                }
              }
            }
          },
          "400": {
            "description": "The payload is malformed.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "The provider signature is invalid.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "The verified contribution is missing the identity required for delivery.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "The event could not be persisted.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "The provider webhook or donation ledger is not configured.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "Provider-defined webhook payload. The service validates the provider signature before accepting it.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/webhooks/paypal": {
      "post": {
        "operationId": "receivePaypalWebhook",
        "tags": [
          "Provider webhooks"
        ],
        "summary": "Receive PayPal events",
        "description": "PayPal-postback-verified capture webhook ingress.",
        "security": [],
        "responses": {
          "200": {
            "description": "The verified event was accepted; recorded is false for ignored or non-contribution events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportWebhookReceipt"
                }
              }
            }
          },
          "400": {
            "description": "The payload is malformed.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "The provider signature is invalid.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "The verified contribution is missing the identity required for delivery.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "The event could not be persisted.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "The provider webhook or donation ledger is not configured.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "Provider-defined webhook payload. The service validates the provider signature before accepting it.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/webhooks/patreon": {
      "post": {
        "operationId": "receivePatreonWebhook",
        "tags": [
          "Provider webhooks"
        ],
        "summary": "Receive Patreon events",
        "description": "Signature-verified Patreon webhook ingress.",
        "security": [],
        "responses": {
          "200": {
            "description": "The verified event was accepted; recorded is false for ignored or non-contribution events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportWebhookReceipt"
                }
              }
            }
          },
          "400": {
            "description": "The payload is malformed.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "The provider signature is invalid.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "The verified contribution is missing the identity required for delivery.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "The event could not be persisted.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "The provider webhook or donation ledger is not configured.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "Provider-defined webhook payload. The service validates the provider signature before accepting it.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SupportGoalBreakdownItem": {
        "type": "object",
        "required": [
          "id",
          "label",
          "monthlyGbp"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "monthlyGbp": {
            "type": "number",
            "minimum": 0
          },
          "category": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "SupportGoal": {
        "type": "object",
        "required": [
          "service",
          "currency",
          "floorGBP",
          "forecastGBP",
          "monthlyGoalGBP",
          "breakdown"
        ],
        "properties": {
          "service": {
            "type": "string",
            "const": "yomu-support"
          },
          "currency": {
            "type": "string",
            "const": "GBP"
          },
          "floorGBP": {
            "type": "number",
            "minimum": 0
          },
          "forecastGBP": {
            "type": "number",
            "minimum": 0
          },
          "monthlyGoalGBP": {
            "type": "number",
            "minimum": 0
          },
          "breakdown": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupportGoalBreakdownItem"
            }
          }
        },
        "additionalProperties": false
      },
      "SupportProviderProgress": {
        "type": "object",
        "required": [
          "provider",
          "monthGbp",
          "source"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "stripe",
              "kofi",
              "bmac",
              "paypal",
              "patreon"
            ]
          },
          "monthGbp": {
            "type": "number",
            "minimum": 0
          },
          "source": {
            "type": "string",
            "enum": [
              "d1",
              "kv",
              "env",
              "none"
            ]
          }
        },
        "additionalProperties": false
      },
      "SupportProgress": {
        "type": "object",
        "required": [
          "service",
          "currency",
          "month",
          "totalThisMonthGbp",
          "totalTodayGbp",
          "needsRate",
          "providers",
          "source"
        ],
        "properties": {
          "service": {
            "type": "string",
            "const": "yomu-support"
          },
          "currency": {
            "type": "string",
            "const": "GBP"
          },
          "month": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}$"
          },
          "totalThisMonthGbp": {
            "type": "number",
            "minimum": 0
          },
          "totalTodayGbp": {
            "type": "number",
            "minimum": 0
          },
          "needsRate": {
            "type": "integer",
            "minimum": 0
          },
          "providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupportProviderProgress"
            }
          },
          "source": {
            "type": "string",
            "enum": [
              "d1",
              "env"
            ]
          }
        },
        "additionalProperties": false
      },
      "SupportRevision": {
        "type": "object",
        "required": [
          "version",
          "deploymentId",
          "deployedAt"
        ],
        "properties": {
          "version": {
            "type": "string"
          },
          "deploymentId": {
            "type": [
              "string",
              "null"
            ]
          },
          "deployedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "SupportProviderLink": {
        "type": "object",
        "required": [
          "id",
          "label",
          "url",
          "kind",
          "enabled"
        ],
        "properties": {
          "id": {
            "type": "string",
            "enum": [
              "stripe",
              "kofi",
              "bmac",
              "paypal",
              "patreon"
            ]
          },
          "label": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "kind": {
            "type": "string",
            "enum": [
              "checkout",
              "link"
            ]
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "SupportCurrencyDisplay": {
        "type": "object",
        "required": [
          "locale",
          "currency",
          "symbol",
          "amount",
          "goal",
          "amountText",
          "goalText",
          "rate",
          "rateDate",
          "converted"
        ],
        "properties": {
          "locale": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "enum": [
              "GBP",
              "USD",
              "EUR",
              "JPY",
              "AUD",
              "CAD",
              "CHF",
              "CNY",
              "HKD",
              "NZD",
              "SGD",
              "SEK",
              "NOK",
              "DKK",
              "PLN",
              "CZK",
              "BRL",
              "MXN",
              "INR",
              "KRW",
              "ZAR",
              "TRY",
              "THB",
              "IDR",
              "PHP",
              "MYR"
            ]
          },
          "symbol": {
            "type": "string"
          },
          "amount": {
            "type": "integer",
            "minimum": 0
          },
          "goal": {
            "type": "integer",
            "minimum": 0
          },
          "amountText": {
            "type": "string"
          },
          "goalText": {
            "type": "string"
          },
          "rate": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "rateDate": {
            "type": "string"
          },
          "converted": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "SupportAcademyDeliveryAlert": {
        "type": "object",
        "required": [
          "configured",
          "configurationFailures",
          "lastConfigurationFailureAt"
        ],
        "properties": {
          "configured": {
            "type": "boolean"
          },
          "configurationFailures": {
            "type": "integer",
            "minimum": 0
          },
          "lastConfigurationFailureAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "SupportBanner": {
        "type": "object",
        "required": [
          "enabled",
          "dismissVersion",
          "message",
          "costLabel",
          "goalLabel",
          "ctaLabel",
          "donateUrl"
        ],
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "dismissVersion": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "costLabel": {
            "type": "string"
          },
          "goalLabel": {
            "type": "string"
          },
          "ctaLabel": {
            "type": "string"
          },
          "donateUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "SupportStatus": {
        "type": "object",
        "required": [
          "service",
          "status",
          "revision",
          "currency",
          "dailyBudgetGbp",
          "donationGoalGbp",
          "floorGbp",
          "forecastGbp",
          "donationsTodayGbp",
          "donationsThisMonthGbp",
          "donationsSource",
          "needsRate",
          "estimatedDailyCostGbp",
          "estimatedMonthlyCostGbp",
          "goalMet",
          "progressRatio",
          "donateUrl",
          "featuresAtRisk",
          "providers",
          "breakdown",
          "academyDeliveryAlert",
          "display",
          "banner"
        ],
        "properties": {
          "service": {
            "type": "string",
            "const": "yomu-support"
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "stripe-test-mode",
              "stripe-unconfigured"
            ]
          },
          "revision": {
            "$ref": "#/components/schemas/SupportRevision"
          },
          "currency": {
            "type": "string",
            "const": "GBP"
          },
          "dailyBudgetGbp": {
            "type": "number",
            "minimum": 0
          },
          "donationGoalGbp": {
            "type": "integer",
            "minimum": 0
          },
          "floorGbp": {
            "type": "number",
            "minimum": 0
          },
          "forecastGbp": {
            "type": "number",
            "minimum": 0
          },
          "donationsTodayGbp": {
            "type": "number",
            "minimum": 0
          },
          "donationsThisMonthGbp": {
            "type": "number",
            "minimum": 0
          },
          "donationsSource": {
            "type": "string",
            "enum": [
              "d1",
              "env"
            ]
          },
          "needsRate": {
            "type": "integer",
            "minimum": 0
          },
          "estimatedDailyCostGbp": {
            "type": "number",
            "minimum": 0
          },
          "estimatedMonthlyCostGbp": {
            "type": "number",
            "minimum": 0
          },
          "goalMet": {
            "type": "boolean"
          },
          "progressRatio": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "donateUrl": {
            "type": "string",
            "format": "uri"
          },
          "featuresAtRisk": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupportProviderLink"
            }
          },
          "breakdown": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupportGoalBreakdownItem"
            }
          },
          "academyDeliveryAlert": {
            "$ref": "#/components/schemas/SupportAcademyDeliveryAlert"
          },
          "display": {
            "$ref": "#/components/schemas/SupportCurrencyDisplay"
          },
          "banner": {
            "$ref": "#/components/schemas/SupportBanner"
          }
        },
        "additionalProperties": false
      },
      "SupportWebhookReceipt": {
        "type": "object",
        "required": [
          "received",
          "recorded"
        ],
        "properties": {
          "received": {
            "type": "boolean",
            "const": true
          },
          "recorded": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {}
  },
  "externalDocs": {
    "description": "Yomu documentation",
    "url": "https://yomureader.com/"
  }
}
